.game-board{
 
  position: relative;
}
.turn-data{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  content: " ";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transform: scale(1.1);
  transform-origin: center;
  cursor:not-allowed;
  display: grid;
  place-items: center;
  padding: .5rem;
}
.board-container{

 position: relative;
}
.board-container .game-data{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  content: " ";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  transform: scale(1.1);
}